@theme {
	--animate-opacity-pulse: opacity-pulse 1.2s ease-in-out infinite;
	--animate-size-pulse: size-pulse 1.5s infinite;
}

@keyframes opacity-pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.75;
	}
}

@keyframes size-pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.99);
	}
	100% {
		transform: scale(1);
	}
}
