@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
	--font-dm-sans: 'DM Sans', sans-serif;
}

:root {
	--bg: url('/bg.jpg');
	--bg-y: 0.5;
	--html-bg-size: 150%;
}

html {
	scroll-snap-type: y mandatory;
	background-position-y: calc(var(--bg-y));
	overscroll-behavior-y: none;
}

body {
	margin: 0;
}

header {
	position: sticky;
	top: 0;
	z-index: 100;
}
header > * {
	position: relative;
	z-index: 1;
}
